{% extends 'base.html' %}
{% block main_content %}
<h1>{{ movie.name }} Detail</h1>
<ul>
    <li>{{ movie.release_date }}</li>
    <li>{{ movie.director }}</li>
</ul>


{% for review in movie.reviews.all %}
    <div>
        {{review.body}}
    </div>
{% endfor %}

<h3>Add a review</h3>

<form action="{% url 'add-review' movie.pk %}" method="post">
    {% csrf_token %}
    {{ review_form.as_p }}
    <p>
    <input type="submit" value="send">
    </p>
</form>
{% endblock %}

{% block scripts %}
<script>
(function(){
    const form = document.querySelector('form')
    

    form.addEventListener('submit', (evt) => {
        evt.preventDefault();
        // Pocesar el formulario
        let formData = new FormData();
        formData.append('author', form.querySelector('#id_author').value)
        formData.append('body', form.querySelector('#id_body').value)
        formData.append('csrfmiddlewaretoken', form.querySelector('input[type="hidden"]').value)

        // FormData
        fetch("{% url 'add-review' movie.pk %}", {
            method: 'POST',
            body: formData
        })
        .then(resposne => resposne.json())
        .catch(error => console.error('Error:', error))
        .then(data => console.log(data));
    })
})();
</script>
{% endblock %}